@use '../../App.scss' as variables; // Path to _variables.scss Notice how we don't include the underscore or file extension

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    flex-direction: column;
}


.header__image-container {
    width: 40%;
    height: auto;
    @media screen and (max-width: variables.$medium) {
        width: 60%;
    }
    img:first-child {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%
    }
}

.header__animated-text {
    transition: transform 0.4s ease-in-out;

    &:hover {
        transform: scale(0.7); 
    }
}

.header__linkedin-image-container{
    position: relative;
    width: 50px;
    height: 50px;
    bottom: 60px;
    left: 66%;

    @media screen and (max-width: variables.$medium) {
        width: 30px;
        height: 30px;
        left: 80%;
    }
}