.input__container {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 0.5em;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.input_custom-input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 0.5em;
}

.input__icon-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 50%;
    }

}